# `Dictionaries`

``` bash 
A dictionary in Python is an unordered, mutable, and indexed collection of items,
where each item is a pair consisting of a key and its associated value.
 ```

## `key features`

```bash 
Key Features of Dictionaries:

    Key–Value Pair Structure → {key: value}

    Keys must be unique (cannot have duplicate keys).

    Keys must be immutable (string, number, or tuple), but values can be any data type.

    Values can be duplicated and of any type (string, list, dict, etc.).

    Mutable → You can add, update, or remove items.

    Unordered (before Python 3.7, order was not guaranteed; from Python 3.7+, insertion order is preserved).
```

## `creating  dictionary `

In [1]:
# empty dictionary 
d = {} 
print(d)
print(type(d))

{}
<class 'dict'>

In [4]:
# 1D dict and hetrogeneous dict
d = {"name":"nothing","college":"you dont want",(1,2,3):1000} # you can give the tuple as keys bcz immutable
print(d)
print(type(d))

{'name': 'nothing', 'college': 'you dont want', (1, 2, 3): 1000}
<class 'dict'>

In [6]:
# 2D dict 
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :100 
     }
     }
print(d2)
print(type(d2))

{'name': 'xyz', 'college': 'EWIT', 'city': 'Ananthapur', 'subjects': {'telugu': 100, 'hindi': 100}}
<class 'dict'>

In [7]:
# homogeneous dict : means all keys and values are same datatype
d = {'name': 'xyz', 'college': 'EWIT', 'city': 'Ananthapur'}
print(d)
print(type(d))

{'name': 'xyz', 'college': 'EWIT', 'city': 'Ananthapur'}
<class 'dict'>

In [8]:
# using type conversion 
d = dict([("name","xyz"),("college","EWIT")])
print(d)
print(type(d))

{'name': 'xyz', 'college': 'EWIT'}
<class 'dict'>

## `Accessing Dictionary values`

In [21]:
# here we access dict values using keys not indexing
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :200}
     }
print(d2["name"])
# accessing 2D values
print(d2["subjects"]["telugu"])

xyz
100

In [8]:
# accessing values using get() function
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :200}
     }
d2.get("subjects").get("telugu")

100

## `adding values `

In [17]:
# adding values in 1D
d = {"name":"xyz","age":20,"city":"Ananthapur"}
print(d)
d["college"] = "EWIT"
print(d)
# adding values in 2D
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
d2["subjects"]["maths"]=99
print(d2)

{'name': 'xyz', 'age': 20, 'city': 'Ananthapur'}
{'name': 'xyz', 'age': 20, 'city': 'Ananthapur', 'college': 'EWIT'}
{'name': 'xyz', 'college': 'EWIT', 'city': 'Ananthapur', 'subjects': {'telugu': 100, 'hindi': 97, 'maths': 99}}

## `editing values`

In [21]:
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
d2["name"] = "zyx"
print(d2)
d2["subjects"]["hindi"] = 90
print(d2)

{'name': 'zyx', 'college': 'EWIT', 'city': 'Ananthapur', 'subjects': {'telugu': 100, 'hindi': 97}}
{'name': 'zyx', 'college': 'EWIT', 'city': 'Ananthapur', 'subjects': {'telugu': 100, 'hindi': 90}}

## `deleting values`

In [25]:
# deleting complete dict using del keyword
d = {"name":"xyz"}
print(d)
del d
print(d)

{'name': 'xyz'}

NameError: name 'd' is not defined

In [24]:
# deleting some values in dict using del keyword
d = {"name":"xyz","age":20,"city":"Ananthapur"}
print(d) 
del d["age"]
print(d)

{'name': 'xyz', 'age': 20, 'city': 'Ananthapur'}
{'name': 'xyz', 'city': 'Ananthapur'}

In [28]:
# pop() : it will delete based on key 
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
d2.pop("name")
d2

{'college': 'EWIT',
 'city': 'Ananthapur',
 'subjects': {'telugu': 100, 'hindi': 97}}

In [30]:
# popitem() function delete last item
d2 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
d2.popitem()
d2

{'name': 'xyz', 'college': 'EWIT', 'city': 'Ananthapur'}

In [31]:
# clear() function 
d2.clear() 
d2

{}

## `copying values`

In [33]:
# not recommeneded bcz when i am changing values in d2 but changes happened in d1 also 
d1 = {"name":"xyz","age":20}
d2 = d1 
print(d1)
print(d2)
d2["college"]="EWIT"
print(d1)
print(d2)

{'name': 'xyz', 'age': 20}
{'name': 'xyz', 'age': 20}
{'name': 'xyz', 'age': 20, 'college': 'EWIT'}
{'name': 'xyz', 'age': 20, 'college': 'EWIT'}

In [34]:
# recommended 
d1 = {"name":"xyz","age":20}
d2 = d1.copy() 
print(d1)
print(d2)
d2["college"]="EWIT"
print(d1)
print(d2)

{'name': 'xyz', 'age': 20}
{'name': 'xyz', 'age': 20}
{'name': 'xyz', 'age': 20}
{'name': 'xyz', 'age': 20, 'college': 'EWIT'}

# `Question`

In [35]:
# what is the solution for following question
d1 = {"name":"xyz","age":20}
d2 = {"age":20,"name":"xyz"}
d1 == d2

True

## `operations`

In [37]:
# membership 
d1 = {"name":"xyz","age":20}
print("xyz" in d1)  # False bcz python by default consider "xyz" as key 
print("name" in d1)  # True bcz "name" is a key

False
True

In [40]:
# loops 
d = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
for i in d :  # it will display only keys 
    print(i)

name
college
city
subjects

## `dict functions`

```bash 
min/ max/ len/ sorted/ keys/ values/ items/ update 
```

In [45]:
d = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
print(min(d)) # identifies based on ascii value
print(max(d))
print(len(d))
print(sorted(d)) # it will give list of sorted keys
print(sorted(d,reverse=True))

city
subjects
4
['city', 'college', 'name', 'subjects']
['subjects', 'name', 'college', 'city']

In [47]:
d = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
print(d.keys()) 
print(d.values())
print(d.items())

dict_keys(['name', 'college', 'city', 'subjects'])
dict_values(['xyz', 'EWIT', 'Ananthapur', {'telugu': 100, 'hindi': 97}])
dict_items([('name', 'xyz'), ('college', 'EWIT'), ('city', 'Ananthapur'), ('subjects', {'telugu': 100, 'hindi': 97})])

In [50]:
d1 = {"name":"xyz", 
     "college":"EWIT", 
     "city":"Ananthapur", 
     "subjects": 
     {"telugu":100, 
     "hindi" :97}
     }
d2 = {"subjects":{"python":100,"java":99,"c++":98}} # here you can add new items also not only existed items
d1.update(d2) # it will update permanently 
print(d1) # subject values are updated 
print(d2)

{'name': 'xyz', 'college': 'EWIT', 'city': 'Ananthapur', 'subjects': {'python': 100, 'java': 99, 'c++': 98}}
{'subjects': {'python': 100, 'java': 99, 'c++': 98}}

## `dict comprehension`

```bash 
basic syntax : 
    {key:value for var in iterable}
```

In [52]:
# create a dict of keys squares 
{i:i**2 for i in range(1,11) }

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [54]:
# create a new dict by converting the values from miles to km
dict1 = {"mumbai":1000,"Andhra Pradesh":2000,"Telangana":3000}
{i:j*1.609 for i,j in dict1.items()}

{'mumbai': 1609.0, 'Andhra Pradesh': 3218.0, 'Telangana': 4827.0}

In [57]:
# using if condition remove the mobiles whose stock is 0 
mobiles = {"iphone":12,"samsung":1,"realme":0,"nothing":0,"nokia":100}
{i:j for i,j in mobiles.items() if j>0 }

{'iphone': 12, 'samsung': 1, 'nokia': 100}

In [67]:
# print a table from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5) }

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}