# Functions part - 2

## `**kwargs`

```
✅ **kwargs in Python

    **kwargs allows a function to accept a variable number of keyword arguments (key-value pairs).

    Inside the function, it’s stored as a dictionary.

    kwargs is just a naming convention → you could write **data or **options.
```

In [32]:
def display(**data) : 
    for key,value in data.items() : 
        print(key,"->",value) 
    print(type(data))
print(display(maths=100,english=98,hindi=96,physics=99,blology=96))

maths -> 100
english -> 98
hindi -> 96
physics -> 99
blology -> 96
<class 'dict'>
None

## `how functions executed in memory`

In [ ]:
x=10
def sum_of_two(num1,num2) : 
    return num1+num2

## `function without return statement`

In [33]:
x=10
def sum_of_two(num1,num2) : 
     print(num1+num2) 
z = sum_of_two(2,5)
print(z)

7
None

##  `variable scope`

In [37]:
x = 10 # global variable
def funct() : 
    x = 5 # local variable
    x += 10
    print(x)
funct()
print(x)

15
10

In [40]:
x = 10  # global variable

def fun():
    x = 0
    x += 15 # local variable
    print("Inside function:", x)

fun()
print("Outside function:", x)

Inside function: 15
Outside function: 10

In [42]:
x = 10

def fun():
    print("Before assignment:", x)  # Error here!
    x = 5
    print("After assignment:", x)

fun()

UnboundLocalError: local variable 'x' referenced before assignment

## `global keyword`

In [45]:
count=0 

def increment():
    global count # global variable
    count += 1
    print("Count inside:", count)

increment() # count=1
increment() # count=2
print("Count outside:", count)

Count inside: 1
Count inside: 2
Count outside: 2

In [23]:
x = 10

def change():
    global x
    x = 20
    print("Inside:", x)

change()
print("Outside:", x)

Inside: 20
Outside: 20

## `nested functions`

In [47]:
def outer():
    x = 10
    def inner():
        print("Inner:", x)
    inner()
    print("Outer:", x)

outer()

Inner: 10
Outer: 10

In [25]:
x = 5

def outer():
    def inner():
        global x
        x = 50
        print("Inner:", x)
    inner()
    print("Outer:", x)

outer()
print("Outside:", x)

Inner: 50
Outer: 50
Outside: 50

In [53]:

def outer():
    x = 10
    def inner():
        x = x + 5 # ❌ Error: local before assignment
        print("Inner:", x)
    inner()

outer()

UnboundLocalError: local variable 'x' referenced before assignment

# `functions are first-class citizens`

```
When we say functions are first-class citizens (or first-class objects) in Python, it means:

👉 Functions are treated like any other variable or object.
That is, you can:

    Assign a function to a variable

    Pass a function as an argument to another function

    Return a function from another function

    Store functions in data structures (like lists, dicts, etc.)
```

### `1) Assign a function to a variable`

In [6]:
# example 
def power(num1,num2) : 
    return num1**num2

In [14]:
# you can check the datatype of power function  
type(power)

function

In [12]:
# lets assign the power function to the variable 
# note : don't give the parenthesis
var = power
print(id(var))
print(id(power))# in the output you can observe the memory address of var and power function are same ,so var became a function

2063950921392
2063950921392

In [15]:
# you can check the datatype of var   
type(var) # var become function

function

In [10]:
print(var(3,2)) # in the place power we are giving var but still it works as a power function

9

### `2) Pass a function as an argument to another function`

In [26]:
# example : 
def function1() : 
    print("function 1")
    return "completed"
def function2(var) : 
    print("function 2")
    return var() # here it returning the function1 , both var and function1 are same

In [29]:
print(function2(function1)) 
"""in this case i am passing function1 as argument to the function2 ,
so the function1 is assigned to the var then var became function so i used var in the place of function1
"""

function 2
function 1
completed

### `3) Return a function from another function`

In [33]:
def outer():
    def inner():
        return "I am inner function"
    return inner   # returning a function

result = outer()
print(result())   # calling returned function

I am inner function

### `4) Store functions in data structures (like lists, dicts, etc.)`

In [41]:
def add(num1,num2) : 
    return num1+num2

def substract(num1,num2) : 
    return num1-num2
# stored in dictionary
operations = {"add" : add,"substraction":substract} 
print("addition : ",operations["add"](10,12))  # here operations["add"] replace with its value add then it became "add(10,12)""
print("substraction : ",operations["substraction"](5,3))  # here operations["substraction"] replace with its value substract then it became "substract(10,12)"

# stored in a list 
py_list = [1,2,3,4,add,substract]
print("addition : ",py_list[-2](10,12)) # here py_list[-2] replace with its value add then it became "add(10,12)""
print("substraction : ",py_list[-1](5,3)) # here py_list[-1] replace with its value substract then it became "substract(10,12)""

addition :  22
substraction :  2
addition :  22
substraction :  2

# `lambda functions`

``` 
A lambda function is a small, anonymous (nameless) function in Python.
It’s written in one line, usually for short, throwaway tasks where using def would be overkill.
```

##### basic syntax 

`lambda arguments : expression`  
```
lambda → keyword

arguments → input (like parameters in a normal function)

expression → single expression (automatically returned, no need of return)
```

In [42]:
# Write a lambda function to calculate the cube of a given number. 
a = lambda x : x**3
a(3) # 3*3*3

27

In [44]:
# Write a lambda function that takes two numbers and returns the maximum of the two.
a = lambda x,y : x if x>y else y
a(10,15)

15

In [46]:
# Write a lambda function to reverse a given string.
a = lambda string : string[::-1]
a("hello")

'olleh'

# problems on lambda

In [7]:
# Write a lambda function to check if a number is even.
a = lambda x : x%2==0
print(a(10))
print(a(11))

True
False

In [10]:
# Create a lambda function to find the maximum of three numbers.
a = lambda x,y,z : max(x,y,z)
a(10,12,7)

12

In [16]:
# Write a lambda function to check whether a number is positive, negative, or zero.
a = lambda x : "positve" if x>0 else ("negative" if x<0 else "zero")
a(-1)

'negative'

In [24]:
# Create a lambda function to find the last digit of a number.
a = lambda number : number%10 
a(34348735658)

8

In [41]:
# Write a lambda function to check whether a string is a palindrome.
a = lambda string :  "palindrome" if string==string[::-1] else "not palindrome"
a("mom")

'palindrome'

In [47]:
# Given two strings, write a lambda function to return the one with the greater length.
a = lambda str1,str2 : str1 if len(str1)>=len(str2) else str2
a("hello","babyeew")

'babyeew'

In [54]:
# Write a lambda function to count the number of vowels in a string. 
a = lambda x , vowels="aeiouAEIOU" : sum(1 for ch in x if ch in "aeiouAEIOU" )
a("aeiou")

5

In [56]:
# Create a lambda function to compute the area of a circle, given radius r.
a = lambda r : 3.14*r*r
a(10)

314.0

In [65]:
# Create a lambda function that takes a list and returns only its first and last element.
list1 = [1,2,3,4,5]
a = lambda list1 : [list1[0],list1[-1]]
a(list1)

[1, 5]

# `Higher-Order Functions (HOFs)`

A higher-order function is a function that does at least one of the following:

    1) Takes another function as input (argument)

    2) Returns a function as output

In [113]:
# example 
def square(num) : 
    return num**2  
list1 = [] 
def transform_to_square(f,L) : # here transform_to_square is a higher order function
    for i in L : 
        list1.append(f(i))
    return list1  

print(transform_to_square(square,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

# `map() function`

```
map(function, iterable)

    What it does: Applies a function to every element of an iterable (list, tuple, etc.).

    Returns: A map object → usually converted to a list/tuple.
```

### problems on map()

In [66]:
# Given [1, 2, 3, 4, 5], use map() with lambda to return the square of each number.
list(map(lambda x : x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [68]:
# Convert a list of temperatures in Celsius [0, 20, 30, 40] into Fahrenheit using map().
list(map(lambda x : (x*1.8)+32,[0, 20, 30, 40])) # formula : F = (C*1.8)+32

[32.0, 68.0, 86.0, 104.0]

In [69]:
# Given ["python", "java", "c++"], use map() to return their uppercase versions.
list(map(lambda x : x.upper(),["python", "java", "c++"]))

['PYTHON', 'JAVA', 'C++']

In [70]:
# Given ["apple", "banana", "kiwi"], use map() to return the length of each word.
list(map(lambda x : len(x),["apple", "banana", "kiwi"]))

[5, 6, 4]

In [72]:
# Given [5, 10, 15, 20], use map() with lambda to return each element divided by 5.
list(map(lambda x : x//5,[5, 10, 15, 20]))

[1, 2, 3, 4]

# `filter() function`

```
filter(function, iterable)

    1) What it does: Filters elements from an iterable based on a condition (True/False).

    2) Returns: A filter object → usually converted to a list/tuple.
```

### problems on filter()

In [89]:
# From [10, 21, 32, 43, 54], use filter() to keep only the odd numbers.
list(filter(lambda x : x%2!=0,[10, 21, 32, 43, 54]))

[21, 43]

In [75]:
# From [100, 55, 200, 30, 75], use filter() to keep numbers greater than 80.
list(filter(lambda x : x>80 ,[100, 55, 200, 30, 75]))

[100, 200]

In [90]:
# From ["apple", "bat", "carrot", "dog", "egg"], use filter() to keep only words starting with a vowel.
list(filter(lambda x : x[0].lower() in "aeiou",["apple", "bat", "carrot", "dog", "egg"]))

['apple', 'egg']

In [88]:
# From [25, 30, 45, 60, 75, 90], use filter() with lambda to keep numbers divisible by both 3 and 5.
list(filter(lambda x : x%3==0 and x%5==0,[25, 30, 45, 60, 75, 90]))

[30, 45, 60, 75, 90]

# `reduce() function`
```
reduce(function, iterable)

    1) What it does: Reduces an iterable to a single value, by applying a function cumulatively.

    2) Returns: A single number/string/etc.

    3) Needs: from functools import reduce
```

### problems on reduce()

In [91]:
# before using reduce function we need to import reduce function 
from functools import reduce

In [92]:
# From [1, 2, 3, 4, 5], use reduce() with lambda to compute the sum.
reduce(lambda x,y : x+y,[1, 2, 3, 4, 5])

15

In [96]:
# From [1, 2, 3, 4, 5], use reduce() with lambda to compute the product.
reduce(lambda x,y : x*y,[1, 2, 3, 4, 5])

120

In [94]:
# From [100, 20, 300, 40], use reduce() with lambda to find the maximum number.
reduce(lambda x,y : x if x>y else y,[100, 20, 300, 40])

300

In [107]:
# From ["Python", "is", "awesome"], use reduce() with lambda to concatenate into one string.
reduce(lambda x,y :x+" "+y,["Python", "is", "awesome"])

'Python is awesome'

In [109]:
# From [5, 10, 15, 20], use reduce() with lambda to compute the greatest common divisor (GCD) of the list.
import math
reduce(lambda x,y : math.gcd(x,y),[5, 10, 15, 20])

5