# loops 
1) need of loops
2) while loop
3) for loop

## 1) need of loops

Loops in programming are essential because they allow repeating a block of code multiple times without rewriting it.
Here's why loops are needed:
1. Automate Repetitive Tasks
2. Process Data Collections (eg : lists, sets, etc)
3. Reduce Code Size

## 2) while loop 
The while loop repeats a block of code as long as a given condition is True.

We use a while loop instead of a for loop when:


You Don't Know How Many Times to Repeat
1) Use for loop when the number of iterations is known (e.g., loop 10 times).

2) Use while loop when the number of iterations is unknown and depends on a condition.

In [ ]:
# basic syntax 
while condition : 
    # statements or code to run

In [1]:
# eaxmple program to print a table 
# take the integer input from the user 
number = int(input("enter the number : "))
# initialize a i variable with 1
i=1 
# start the loop 
while i<=10 : 
    print(number,"x",i,"=",number*i)
    i+=1

enter the number :  10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## while loop with else 
we can use in python

In [2]:
# example 
x = 1 
while x<5 : 
    print(x,end='  ')
    x+=1
else : 
    print("limit crossed")

1  2  3  4  limit crossed

## for loop

In [ ]:
# basic syntax 
for variable_name in sequence : 
    # code to run

In [4]:
# example 1 : print 1 to 10  
for i in range(1,11) : 
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [5]:
# # example 1 : print 1 to 10  with interval by 2 
for i in range(1,11,2) : # third parameter called step size (optional)
    print(i,end=' ')

1 3 5 7 9

In [7]:
# example 3 : print 10 to 1
for i in range (10,0,-1) : 
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [8]:
# for can be used any datatypes 
for i in "string" : 
    print(i)

s
t
r
i
n
g

In [9]:
for i in ["apple","banana","orange"]: 
    print(i)

apple
banana
orange

## for loop with else

In [12]:
# example
for i in ["apple","banana","orange"]: 
    print(i)
else : 
    print("all items completed in list")

apple
banana
orange
all items completed in list

## practice program  1: 
In a town, the current population is 10000.
Every year, the population increases by 10% compared to the previous year.

Write a Python program to calculate and display the population at the end of each of the last 10 years,
assuming this 10% growth continues each year.

In [23]:
population = 10000 

for i in range(10,0,-1) : 
    print("year ",i,":",population)
    population = (population/1.1)

year  10 : 10000
year  9 : 9090.90909090909
year  8 : 8264.462809917353
year  7 : 7513.148009015775
year  6 : 6830.134553650703
year  5 : 6209.213230591548
year  4 : 5644.739300537771
year  3 : 5131.5811823070635
year  2 : 4665.07380209733
year  1 : 4240.976183724845

## practice problem 2 : 
sequence of 1/1!+2/2!+....

In [31]:
number = int(input("enter the number : "))

fact = 1 
result = 0
for i in range(1,number+1) : 
    fact = fact*i
    result = result+i/fact 

print(result)

enter the number :  3

2.5

## nested loops
What is a Nested Loop?
1) A nested loop is a loop inside another loop.

2) The outer loop runs normally.

3) For each iteration of the outer loop, the inner loop runs completely.

In [ ]:
# syntax
for i in range(outer_limit):
    for j in range(inner_limit):
        # inner loop code

In [33]:
# example 
for i in range(1,3) : 
    for j in range(1,3) : 
        print(i,j)

1 1
1 2
2 1
2 2

In [38]:
# pattern problem 1
rows = int(input("enter the number : "))
for i in range(1,rows+1) : 
    for j in range(1,i+1) : 
        print("*",end='')
    print()

enter the number :  5

*
**
***
****
*****

In [45]:
# pattern problem 2
rows = int(input("enter the number : "))
for i in range(1,rows+1) : 
    for j in range(1,i+1) : 
        print(j,end='')
    for k in range(j-1,0,-1) : 
        print(k,end='')
    print()

enter the number :  4

1
121
12321
1234321

## loop control statements 
1) break 
2) continue 
3) pass

### break
The break statement is used to exit the loop immediately, even if the loop condition is still True.

In [49]:
# example : find prime numbers from lower to upper range 
lower = int(input("enter the lower range : "))
upper = int(input("enter the upper range : "))

for i in range(lower,upper+1) : 
    for j in range(2,i) : 
        if i%j==0 : 
            break
    else : 
        print(i,end = '  ')

enter the lower range :  10
enter the upper range :  100

11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

### continue 
The continue statement skips the current iteration and moves to the next one.

In [55]:
# example : print only even numbers 
lower = int(input("enter the lower range : "))
upper = int(input("enter the upper range : "))

for i in range(lower,upper+1) : 
    if i%2!=0 : 
        continue 
    else : 
        print(i,end='  ')
# note  : same code for odd numbers also but change in if condition place == instead of !=

enter the lower range :  10
enter the upper range :  40

10  12  14  16  18  20  22  24  26  28  30  32  34  36  38  40

### pass 
The pass statement is a placeholder that does nothing.
Used when code is required syntactically, but you want to leave it empty for now.

In [56]:
# example 
for i in range(1,100) : 
    pass # it prevents from error