# Tuples
```bash 
In Python, a tuple is an ordered, immutable collection of items.

Here’s what that means: (characteristics)

   Ordered → The elements have a fixed sequence, and their position matters.

   Immutable → Once created, you cannot change, add, or remove items in it.

   Allows duplicates → You can store the same value multiple times.

   Can contain mixed data types → Integers, strings, lists, other tuples, etc.
```

### creating a tuple

In [2]:
# empty tuple 
a = () 
print(a)
print(type(a))

()
<class 'tuple'>

In [5]:
# tuple with 1 value 
a = (10)
print(a)
print(type(a))
# here we can use the 1 value with tuple like above instead of use comma after value 
a = (10,)
print(a)
print(type(a))

10
<class 'int'>
(10,)
<class 'tuple'>

In [6]:
# 2D tuple 
a = ((1,2),(3,4),(5,6))
print(a)
print(type(a))

((1, 2), (3, 4), (5, 6))
<class 'tuple'>

In [8]:
# 3D tuple 
a = (((1,2),(3,4)),((5,6),(7,8)))
print(a)
print(type(a))

(((1, 2), (3, 4)), ((5, 6), (7, 8)))
<class 'tuple'>

In [9]:
# using type conversion 
a = tuple("hello world")
print(a) 
print(type(a))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
<class 'tuple'>

In [15]:
# homogenous tuple
a = (1,2,3,4,5,)
print(a)

(1, 2, 3, 4, 5)

In [17]:
# hetrogeneous 
a = (1,"nothing","python",'a',[1,2,3,4])
print(a)

(1, 'nothing', 'python', 'a', [1, 2, 3, 4])

## accessing the tuple 
``` bash 
indexing
slicing
```

In [25]:
# indexing 
a = (1,2,3,4,5,6,7)
# postive indexing
print(a[1])
print(a[6])
# negative indexing 
print(a[-1])
print(a[-4])

2
7
7
4

In [31]:
# slicing 
a = (1,2,3,4,5,6,7)
# posivie slicing 
print(a[1:4])
print(a[::2])
# negative indexing 
print(a[-4:])   
print(a[-1:-6:-1])
 # trick [largenumber:smallnumber:then use negative] or [smallnumber:largenumber:then use postive] like above exmaple

(2, 3, 4)
(1, 3, 5, 7)
(4, 5, 6, 7)
(7, 6, 5, 4, 3)

## adding tuple

In [ ]:
# not possible because it is immutable

## editing tuple

In [18]:
# editing values in tuple is not possible because it is immutable 
# example 
a =(1,2,3,4,5)
a[1] = 10
print(a)

TypeError: 'tuple' object does not support item assignment

## deleting tuple

In [19]:
# you can delete entire tuple at a time 
a = (1,2,3,4)
print(a) 
del a 
print(a)

(1, 2, 3, 4)

NameError: name 'a' is not defined

In [20]:
# you can't delete the some portion of tuple 
a = (1,2,3,4,5)
del a[1:3]

TypeError: 'tuple' object does not support item deletion

## functions on tuple

``` bash
min/max/sum/len/sorted
count/index
```

In [39]:
a = (1,2,3,4,5)
# min
print(min(a))
# max
print(max(a))
# sum
print(sum(a))
# len
print(len(a))
# sorted
print(sorted(a,reverse=True))

1
5
15
5
[5, 4, 3, 2, 1]

In [49]:
# count 
a = (1,1,1,2,3,34,4,6,5,65,6,6,)
print(a.count(1))
print(a.count(6))
print(a.count(10))

3
3
0

In [48]:
# index 
print(a.index(1))
print(a.index(6))
print(a.index(10))

0
7

ValueError: tuple.index(x): x not in tuple

In [53]:
t1 = (1,2,3,4)
t2 = (11,12,13,14)

for i in zip(t1,t2) : 
    print(i)

(1, 11)
(2, 12)
(3, 13)
(4, 14)

## Difference between Lists and tuple

```bash  
feature             list               tuple
-------------------------------------------------
syntax               []                  ()
speed                slow                fast
memory               uses more           uses less
mutable              yes                 no(immutable)
error prone          high                low
use                  when you want       when you dont want
                     make changes in     make changes in
                     data later          data later
```

In [55]:
# example for syntax 
L = [1,2,3,4,5]
T = (1,2,3,4,5)
print(type(L))
print(type(T))

<class 'list'>
<class 'tuple'>

In [56]:
# speed 
import time 
L = list(range(10000))
start = time.time() 
for i in L : 
    i*10 
print("LIST time :",time.time()-start)

T = tuple(range(10000))
start = time.time() 
for i in T : 
    i*10 
print("TUPLE time :",time.time()-start)

LIST time : 0.004454612731933594
TUPLE time : 0.0

In [57]:
# memory 
import sys 
L = list(range(10000))
T = tuple(range(10000))

print("memory used by LIST",sys.getsizeof(L))
print("memory used by TUPLE",sys.getsizeof(T))

memory used by LIST 80056
memory used by TUPLE 80040

In [4]:
# error prone in LIST 
a = [1,2,3,5]
b = a 
b.append("anything")

print(a)
print(b)
# observe here we are addded a element to the 'b' but the changes are happend in a also 
# because a is mutable which means a and b are has same location
# if we don't this we may confused means debugging is difficult 

# error prone in Tuple 
a = (1,2,3,5)
b = a 
b = b + (6,)

print(a)
print(b)

# here we are not observing the changes in "a" because tuples are immutable it doesn't allows the cahnges

[1, 2, 3, 5, 'anything']
[1, 2, 3, 5, 'anything']
(1, 2, 3, 5)
(1, 2, 3, 5, 6)

## `Tuple unpacking`

In [6]:
# varibles should be equal to values in tuple
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [7]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [8]:
# if you have multiple values but you want to only some values use the below format 

a,b,*others = (1,2,3,4,5,6.7,8) # now it will not throw an error because remaining all stored in the other variable
# dont miss asteric(*)
print(a,b,others)

1 2 [3, 4, 5, 6.7, 8]

## `zip function`

In [12]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(zip(t1,t2))  # it return an object , later you can convert to tuple or list using type conversion like : 
print(list(zip(t1,t2))) # list of tuples
print(tuple(zip(t1,t2))) # tuple of tuples

<zip object at 0x000001C95777F140>
[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))