### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [4]:
rows = int(input("enter the number of rows : "))
values=rows
for i in range(rows,0,-1) : 
    for j in range(i,0,-1) : 
        print(j,end='')
    print()

enter the number of rows :  5

54321
4321
321
21
1

### `Problem 2`: Print the following pattern.

```bash
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

In [19]:
rows = int(input("enter the number : "))
for i in range(1,rows+1) : 
    for j in range(1,i+1) : 
        print("*",end='')
    print()
for k in range(i-1,0,-1) : 
    for l in range(1,k+1,1): 
        print("*",end='')
    print()

enter the number :  5

*
**
***
****
*****
****
***
**
*

In [21]:
# or 

for i in range(1,rows+1)  : 
    print("*"*i,end='')
    print()
for j in range(i-1,0,-1) : 
    print("*"*j,end='')
    print()

*
**
***
****
*****
****
***
**
*

### `Problem 3`:Write a program to pring the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [43]:
rows = 5  # number of rows

for i in range(rows):
    # print spaces
    print(" " * (rows - i - 1), end="")
    # print stars
    print("* " * (i * 2 + 1))

     *
    * * *
   * * * * *
  * * * * * * *
 * * * * * * * * *

### `Problem 4`:Write a program to print the following pattern

1 

2 1 

3 2 1 

4 3 2 1 

5 4 3 2 1

In [49]:
rows = int(input("enter the rows number : "))
for i in range(1,rows+1) : 
    for j in range(i,0,-1) : 
        print(j,end='')
    print()

enter the rows number :  5

1
21
321
4321
54321

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br> 
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [53]:
number = int(input("enter the number : "))
x = 2
result = 1
for i in range(2,number+1) : 
    power = (x**i)/i
    result += power 
print(result)

enter the number :  5

16.066666666666666

### `Problem 6` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [67]:
number = int(input("enter the number : "))
result = 0 
value =0
for i in range(1,number+1) : 
    value = int(i*'2')
    result+=value
    print(value,end='')
    if i < number : 
        print("+",end='')
print()
print("sum of the above series is : ",result)

enter the number :  7

2+22+222+2222+22222+222222+2222222
sum of the above series is :  2469134

###`Problem 8`: Write a program to print all the unique combinations of 1,2,3 and 4 

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [70]:
for i in range(1,5) : 
    for j in range(1,5) : 
        for k in range(1,5) :  
            for l in range(1,5) :  
                if i != j and i != k and i != l and j != k and j != l and k != l:
                    print(i, j, k, l)

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1