# print function 
The print() function in Python is used to display output to the console (screen). 
It‚Äôs one of the most commonly used built-in functions for debugging and showing results.

In [2]:
print("hello world!")

hello world!

In [3]:
print(10)

10

In [4]:
# if you want to learn about and built in functions or keywords ,etc use ?
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [6]:
# sep 
print("Python","Java","C","C++",sep='|')

Python | Java | C | C++

In [7]:
print(2314.32432)

2314.32432

# datatypes 
data types define the type of data a variable can hold. Each data type tells Python how the data should be stored, used, and manipulated.

In [24]:
# integer (int) 
a = 10
infinity = 1e309 # this is the value for infinity
print(infinity)
print(type(a))

inf
<class 'int'>

In [25]:
# Double or float : used to store the decimal values
a = 10.43754
infinity = 1.7e309
print(a)
print(infinity)
print(type(a))

10.43754
inf
<class 'float'>

In [26]:
# boolean (bool) : only two values (True | False)
print(True) 
print(False)
print(type(True))
# bool values are not string so don't use quotes and values are case senstity(means : there is difference bw capital and small letters)

True
False
<class 'bool'>

In [27]:
# complex : (real_number + imaginary_number j)
a = 10+12j
print(a)
print(a.real)
print(a.imag)
print(type(a))

(10+12j)
10.0
12.0
<class 'complex'>

In [28]:
# strings : sequence of words in quotes
a  = "I am started learning python today"
print(a)
b = "ok bye.."
print(b)
print(type(a))

I am started learning python today
ok bye..
<class 'str'>

In [30]:
# list : collection of different data type values in square brackets each value separated by comma 
py_list = [10, 34.34354, "nothing", "A"]
print(py_list)
print(type(py_list))

[10, 34.34354, 'nothing', 'A']
<class 'list'>

In [31]:
# tuple : collection of different data type values in paranthesis each value separated by comma 
py_tuple = (10, 34.34354, "nothing", "A")
print(py_tuple)
print(type(py_tuple))

(10, 34.34354, 'nothing', 'A')
<class 'tuple'>

In [32]:
# set : collection of different data type values in curly brackets each value separated by comma 
# sets are used to store the unique values 
py_set = {10, 34.34354, "nothing", "A"}
print(py_set)
print(type(py_set))

{'A', 10, 34.34354, 'nothing'}
<class 'set'>

In [36]:
# dictionary (dict) : stores the values as key value pairs in curly brackets like {key1:value1, key2:value2,....}
a = {"name":"nothing", "age":20, "city":"banglore"}
print(a)
print(a["name"])
print(a["age"])
print(type(a))

{'name': 'nothing', 'age': 20, 'city': 'banglore'}
nothing
20
<class 'dict'>

# variables
a variable is a name that refers to a value stored in memory. You use variables to store data that your program can manipulate later.

üõ†Ô∏è Rules for Naming Variables
‚úÖ Valid:

Must start with a letter or underscore (_)

Can contain letters, numbers, and underscores

Case-sensitive (Name ‚â† name)

‚ùå Invalid:

Cannot start with a number (1age = 25 ‚ùå)

Cannot use special characters (@, $, %, etc.)

Cannot use Python keywords (if, while, class, etc.)

In [ ]:
a = 10 # a is variable 
name = "nothing" # name is a variable
variable1 = "any thing" # variable1 is a variable

# keywords 
Keywords are reserved words in Python.
They have special meanings and cannot be used as variable names, function names, or identifiers.
list  : 

False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield

# identifiers
In Python, an identifier is the name used to identify:variables, functions, classes, modules, objects, etc.

In [38]:
name = "nothing"           # variable
def greet():            # function
    pass

class Student:          # class
    pass
# name, greet, Student are identifiers

# type function 
type function is used to check the datatype of a variable or value

In [41]:
a = 10 
print(type(a))
print(type(34.3432))

<class 'int'>
<class 'float'>

# static vs dynamic typing

In [ ]:
# static typing used in java,c,c++
# here we need to specify the data type with the variable
int a = 10

In [42]:
# dynamic typing used in python
# here we need not to specify the data type with the variable. the interpretor automatically identifies the datatype based on value
a = 10

# input
input function is used to take the input from the users

In [43]:
# problem : take the two input values from the user and add it 
a = input("enter the first value : ")
b = input("enter the second value : ")
print(a+b)
# note : input function always takes the input as string

enter the first value :  10
enter the second value :  20

1020

In [44]:
a = int(input("enter the first value : "))
b = int(input("enter the second value : "))
print(a+b)

enter the first value :  10
enter the second value :  20

30

# type conversion (implicit and explicit convertion)

used to convert one datatype to another

In [47]:
# implicit 
a = 10 # int
b = 30.435 # float
print(a+b) # result internally converted to float

40.435

In [48]:
c = "nothing"
print(a+c) # strings to int/float/etc cannot be converted

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
# explicit 
a = "10"
b = 30 
result = int(a)+b # here string 10 is explicitly converted to int by using int function
print(result)
# other functions : flaot(), str(), bool(), list(), set(), tuple(), dict(), etc

40

# literals
Python, literals are the actual values or data you write directly in your code.
They are fixed values assigned to variables ‚Äî not computed or evaluated.

In [52]:
name = "nothing" # nothing is a literal
value = 10 # 10 is a literal

# None literal

In [51]:
value = None # None also literal