# strings
```bash
strings are sequence of characters 
in python espescially,strings are sequence of unicode characters
```

## creating strings

In [4]:
a = 'hello world' # hello world is a string  using single quotes
print(a)
a = "hello world" # using double quotes
print(a)
a = '''hello world''' # using single triple quotes actually used for multiline strings  
print(a)
a = """hello world """# using double triple quotes actually used for multiline strings  
print(a)

hello world
hello world
hello world
hello world

## accessing strings

In [6]:
# positive indexing : python internally assigns the numbers to the each character of the string starts from zero
b = "hello users"
print(b[0])
print(b[1])
print(b[2])
print(b[7])
# note : number assigned to the space also

h
e
l
s

In [9]:
# negative indexing : negative numbers or assigned to the characters of the string -1 from the last character 
c = "hello users"
print(c[-1])
print(c[-2])
print(c[-3])
print(c[-8])

s
r
e
l

In [15]:
# accessing the substring of string using the slicing concept 
d = "hello users" 
# positive indexing 
print(d[0:5]) # start : end 
print(d[2:8])
print(d[3:])
print(d[:7])
print(d[0:8:2]) # third paramter is called step size (start : end : step_size)

hello
llo us
lo users
hello u
hlou

In [29]:
# accessing the substring of string using the slicing concept 
e = "hello users" 
# negative indexing 
print(e[-3:-1]) # start : end 
print(e[-7:-4])
print(e[: 6])
print(e[-5:])
print(e[::-1]) # string reverse

er
o u
hello
users
sresu olleh

## editing the strings

In [32]:
f = "hello users"
f[0] = "H" # here we are replacing the small 'h' to 'H' 
# but it is throwing an error because string are immutable means once we created we can't modify

TypeError: 'str' object does not support item assignment

## deleting the strings

In [35]:
g = "hello users" 
# we can delete the entire string using del keyword 
del g
print(g) # error because we already deleted the g variable

NameError: name 'g' is not defined

In [36]:
# note : python not allow to delete the substring from string bcz it leads to changes (modifying)
# example 
h = "hello users"
del h[5:]

TypeError: 'str' object does not support item deletion

## operations on strings 
```bash 
arithmetic operators
relational operators 
logical operators 
loops on strings 
membership operations
```

In [38]:
# arithmetic operators only (+/*) are valid
print("hello"+" "+"world") # string concatenation : adding two or mare strings

print("hello"*5) # string multiplication

hello world
hellohellohellohellohello

In [43]:
# relational operators (all)
print("hello"=="world")
print("hello"!="world")
print("hello"<"world") # based on ascii values : true because h has less ascii value (compared lexicographically)
print("hello">"world")
print("hello"<="world")
print("hello">"world")

False
True
True
False
True

In [45]:
# logical operators (all) 
print("hello" and "world") # answer world because python consider the strings as true for empty strings false  : (true and true) : last true value
print("hello" or "world") # answer is hello because in or operator if one condition is true then it will not go for other 
print(not "") # consider empty as false so answer is true

world
hello
True

In [46]:
# loops on strings 
for i in "hello world" : 
    print(i)

h
e
l
l
o

w
o
r
l
d

In [48]:
# membership operators 
print("hello" in "hello world")
print("nothing" not in "hello world")

True
True

## string functions

### common functions 
```bash 
len
min
max
sorted
```

In [50]:
# len function : is used to calculate the number of characters in a string including whitespaces 
print(len("hello world"))

11

In [51]:
# min function : is used to find the minimum ascii value character 
min("always python") # answer is space because space has min ascii value

' '

In [52]:
# max function : : is used to find the maximun ascii value character
max("yashwanth")

'y'

In [57]:
# sorted function : is used to sort the characters according to ascii value but it returns as a list
print(sorted("hello world"))
# for reverse 
print(sorted("hello world",reverse=True))

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# String functions

### capitialize / upper / lower / title / swapcase

In [64]:
 
print("hello world".capitalize())# return first letter capital
print("hello world".upper()) # returns all characters in capital
print("Hello World".lower()) # returns all characters in small
print("hello world".title()) # return the string as starting letter capital of each word
print("hello WORLD".swapcase()) # convert upper to lower and vice-versa

Hello world
HELLO WORLD
hello world
Hello World
HELLO world

### count / find / index

In [75]:
print("hello world".count("l")) # count is used to find the frequency of the charcters
print("hello world".count("ll"))
print("hello world".find("world")) # return the starting index of substring if it is present otherwise -1
print("hello world".find("noth")) 
print("hello world".index("world")) # similar to find but if the substring is not present it will through an error
print("hello world".index("noth"))

3
1
6
-1
6

ValueError: substring not found

### isaplha / isalnum / isdigit / isidentifier

In [87]:
#  isalpha : return true if string contains only alphabets otherwise false
print("name1234".isalpha())
print("name".isalpha())
# isalnum : return true if string contains alphabets or numbers otherwise false
print("name123".isalnum())
print("123".isalnum())
print("name".isalnum())
print("@@@".isalnum())
# isdigit : return true if string contains only numbers otherwise false
print("name123".isdigit())
print("123".isdigit())
# isidentifier : return true if string is a identifier ortherwise false
print("name123".isidentifier())
print("123".isidentifier())
print("user_name".isidentifier())
print("1user_name".isidentifier())

False
True
True
True
True
False
False
True
True
False
True
False

### split / join

In [94]:
# split : is used to split the string , by default it will split the string where the space is present and return as a string 
print("my name is name bro".split())
print("my name is name bro".split("a"))
print("my name is name bro".split("name"))
# join : is used to combine the list of strings using any character 
print(" ".join(['my', 'name', 'is', 'name', 'bro']))
print("-".join(['my', 'name', 'is', 'name', 'bro']))

['my', 'name', 'is', 'name', 'bro']
['my n', 'me is n', 'me bro']
['my ', ' is ', ' bro']
my name is name bro
my-name-is-name-bro

### strip

In [99]:
# strip  : is used to remove the extra spaces start and end in the string 
"         my name is nothing                         ".strip()

'my name is nothing'

### replace

In [100]:
# replace : replace function is used to replace the substring in the string 
"my name is nothing".replace("nothing","xyz")

'my name is xyz'

### endswith , startswith

In [103]:
# endswith : used to verify whether the string is endswith the substring 
print("my name is nothing".endswith("ing"))
# startswith : used to verify whether the string is startswith the substring 
print("my name is nothing".startswith("my"))

True
True