# Sets

```bash 
In Python, a set is an unordered collection of unique elements.

It’s similar to a mathematical set:

   No duplicates (each element is unique)

   Unordered (items don’t have a fixed position or index)

   Mutable (you can add or remove elements)

   Supports set operations like union, intersection, difference

   `important` : it doesnot allows to mutable items in set even though sets are mutable
```

## creating a set

In [1]:
# empty set 
s = {} 
print(type(s))
s = set() # we need to write a code for empty set because when you give {} brackets python things it is a dictionary
print(type(s))

<class 'dict'>
<class 'set'>

In [2]:
# 1D set 
s = {1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
# 2D set not possible 
# example 
s = {1,2,3,{4,5,6}}
print(s)
# because it doesnot allows any mutable datatypes : read above clearly in definition

TypeError: unhashable type: 'set'

In [5]:
# example 2 
s = {1,2,3,(4,5,6)} # tuples are allowed because tuples are immutable
print(s)
print(type(s))

{1, 2, 3, (4, 5, 6)}
<class 'set'>

In [6]:
# homogeneous values 
s = {1,2,3,4,5} # only integer values 
print(s)

{1, 2, 3, 4, 5}

In [7]:
# hetrogeneous values 
s = {1,2,3,"hello",(4,5,6)}
print(s)

{1, 2, 3, (4, 5, 6), 'hello'}

In [8]:
# no duplicate values 
s = {1,2,3,4,1,2,3,4}
print(s)

{1, 2, 3, 4}

## accessing values in sets : not possible

```bash 
reason : because sets are unordered so values have no fixed positions bcz it stores the values using `hashing` 

you cannot access the set values using both indexing and slicing 
```

In [9]:
# example : postive indexing
s = {1,2,3,4,5}
print(s[0])

TypeError: 'set' object is not subscriptable

In [10]:
# example : negative indexing
s = {1,2,3,4,5}
print(s[-1])

TypeError: 'set' object is not subscriptable

In [11]:
# example : slicing
s = {1,2,3,4,5}
print(s[0:4])

TypeError: 'set' object is not subscriptable

## editing values in sets : not possible

```bash 
reason : because sets are unordered so values have no fixed positions bcz it stores the values using `hashing` 
```

In [12]:
# exmaple 
s = {1,2,3,4,5}
s[0] = 100
print(s)

TypeError: 'set' object does not support item assignment

## adding values in sets :  possible using builtin functions

`add() function`

In [14]:
# example : add single value at a time
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

`update() function`

In [16]:
# example : add mulitple values at a time
s = {1,2,3,4,5}
s.update([6,7,(1,2,3)])
print(s)

{1, 2, 3, 4, 5, 6, 7, (1, 2, 3)}

## deleting values in sets :  possible using builtin functions

`del keyword`

In [18]:
s = {1,2,3,4}
print(s)
del s 
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

`discard() function`

In [20]:
s = {1,2,3,4,5}
s.discard(5)
print(s)
s.discard(10)
print(s) # it will not throw any error but the remove throws the error

{1, 2, 3, 4}
{1, 2, 3, 4}

`remove() function`

In [ ]:
s = {1,2,3,4,5}
s.remove(5)
print(s)
s.remove(10)
print(s)

`pop() function` : it will delete any element not always last

In [21]:
s = {1,2,3,4,5}
s.pop()
print(s)
s.pop()
print(s)

{2, 3, 4, 5}
{3, 4, 5}

`clear() function` : it will clear all the values and makes the set empty

In [22]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

## set operations 
``` bash 
    union (|)
    intersection (&)
    difference (-)
    symmetric difference (^)
    membership (in | not in)
    loops
```

In [28]:
# union : return all the values at once, no duplicates 
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# intersection : return only same values in both
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 & s2

{4, 5}

In [27]:
# difference : return only first set values which is not present in second set
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1 - s2) 
print(s2 - s1)

{1, 2, 3}
{8, 6, 7}

In [29]:
# symmetric difference : return values which are not present in both
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1 ^ s2)

{1, 2, 3, 6, 7, 8}

In [31]:
# membership 
print(1 in s1)
print(1 not in s2)

True
True

In [35]:
# loops 
for i in s1 : 
    print(i)

1
2
3
4
5